<!--<p>save-client works!</p>


<h3>Book Complaint</h3>
<div style="width:400px" [hidden]= "submitted">
     <form (ngSubmit)="onSubmit()"> -->
        <!-- <form #saveClientForm="ngForm" >
        <div class="form-group">
            <label for="clientId">Client Id</label>
            <input type="text" name="clientId" class="form-control" 
                    placeholder="Enter the clientId" required  
                    #clientId="ngModel"
                    [(ngModel)]= "client.clientId"
                    [ngClass]= "{'is-invalid':clientId?.errors && (clientId?.touched || productModelNumber?.dirty),
                                    'is-valid':productModelNumber?.valid}">
            <div class="invalid-feedback"> -->