<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ABC Electronics Complaint Portal - Home</title>

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="/assets/img/favicon.png" rel="icon"> -->
  <!-- <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <!-- <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap"
    rel="stylesheet">  -->

  <!-- Vendor CSS Files -->

  <!-- Template Main CSS File -->
  <!-- <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>
  <header id="header" class="fixed-top">
    <div class="container">
      <div class="logo float-left">
        <h1 class="text-light"><span>ABC Electronics</span></h1>
      </div>
      <nav class="navbar navbar-expand-sm navbar-dark float-right" style="background-color: #1e4356;">
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
             <li class="nav-item">
              <button type="button" (click)="getAllOpenComplaints()" class="btn btn-secondary"
                style="margin-left:15px">Open Complaints</button>
            </li> -->
            <!-- <li class="nav-item">
                <button type="button" (click)="getResolvedComplaints()" class="btn btn-secondary"
                  style="margin-left:15px">Resolved Complaints</button>
            </li>
            <li class="nav-item">
                <button type="button" (click)="getResolvedComplaintsByDate()" class="btn btn-secondary"
                  style="margin-left:15px">Resolved Complaints by Date</button>
            </li>
            <li class="nav-item">
                <button type="button" (click)="getComplaints()" class="btn btn-secondary"
                  style="margin-left:15px">Complaints by status</button>
            </li>
            <li class="nav-item">
                <button type="button" (click)="changeComplaintStatus()" class="btn btn-secondary"
                  style="margin-left:15px">Change Complaint Status</button>
            </li>
            <li class="nav-item">
                <button type="button" (click)="getOpenComplaintsOrderByPriority()" class="btn btn-secondary"
                  style="margin-left:15px">Open Complaints by Priority</button>
            </li>
            <li class="nav-item">
                <button type="button" (click)="getComplaintByCompalintId()" class="btn btn-secondary"
                  style="margin-left:15px">Complaint by Id</button>
            </li>
            <li class="nav-item">
                <button type="button" (click)="goToHomePage()" class="btn btn-warning" style="margin-left:15px"> <a
                    href=''>Log Out</a></button>
              </li>
            </ul>

          </div>
        </nav>
      </div>
    </div>
  </header>
  
  </body>
  </html> -->
            
             -->